
/* Games */

/* **************************** */
    /* Allgemeines Styling */
/* **************************** */

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Helvetica, Arial, Droid-sans, sans-serif;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

body {
  background: url('../images/games.png') no-repeat
  top center fixed;
  background-size: cover;
  text-align: center;
}

body {
  background-color: rgb(20, 20, 20)!important;
}

/* IPHONE ANPASSUNG BACKGROUND */
html::before {
  content: ' ';
  display: block;
  background-image: url('../images/games.png');
  background-position: center;
  background-size: cover;
  height: 100vh; width: 100vw;
  top: 0; bottom: 0; left: 0; right: 0;
  position: fixed;
  z-index: -10;
}

/* *************************** */
    /* Navigations Leiste */
/* *************************** */

.navbar {
  padding-top: 20px!important;
}

.navbar-brand {
  color: rgb(252, 191, 100)!important; 
  background-color: transparent!important;
  font-size: 20px;
}
.navbar-brand:hover {
  color: rgb(255, 81, 0)!important;
}
.nav-link {
  color: rgb(255, 81, 0)!important;
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(252, 191, 100)!important; 
}

/* Hover Aktive-Farbe */
.navbar-nav button:hover,
.navbar-nav button:active,
.navbar-nav button:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: rgb(252, 191, 100)!important; 
  cursor: pointer;
}

.dropdown-item {
  color: rgb(189, 22, 147)!important;
  text-align: center;
}

.dropdown-menu {
  background: rgb(53, 53, 53)!important;
  text-align: center;
  height: 165px;
}


/* ***************** */
  /* Inhaltsbereich */
/* ***************** */

/* hover */

.text-warning-one:hover {
  color: rgb(255, 81, 0)!important;
  text-shadow: 0 0 10px rgb(150, 150, 150);
}

/* main */

.text-warning-one {
  color: rgb(255, 174, 0);
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;   
}

.header {
  font-size: 100%;
  text-align: center;
  color: #859ce2;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0px;
}

/* Animations Länge */

.animate__animated.animate__fadeIn {
  --animate-duration: 5s; 
}

.jdb-header-bg {
  background: url("#") center top fixed no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 150px;
}

#header .rounded-circle {
  border: 8px solid rgb(65, 65, 65);
}

/* ***************** */
    /* Footer */
/* ***************** */

.footer {
  font-size: 100%;
  text-align: center;
  color: #f5a30c!important;
}

.text-light:hover {
  color: rgb(223, 28, 174)!important;
}

footer a {
  text-decoration: none;
}

footer a > span {
  font-size: 1.0rem;
}

    

