
/* OldWebsite */

/* **************************** */
    /* Allgemeines Styling */
/* **************************** */

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Helvetica, Arial, Droid-sans, sans-serif;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

body {
  background: url('../images/home.gif') no-repeat
  top center fixed;
  background-size: cover;
  text-align: center;
}

body {
  background-color: rgb(33, 45, 63)!important;
}

/* IPHONE ANPASSUNG BACKGROUND */
html::before {
  content: ' ';
  display: block;
  background-image: url('../images/home.gif');
  background-position: center;
  background-size: cover;
  height: 100vh; width: 100vw;
  top: 0; bottom: 0; left: 0; right: 0;
  position: fixed;
  z-index: -10;
}

/* *************************** */
    /* Navigations Leiste */
/* *************************** */

.navbar-brand {
  color: rgb(255, 69, 45)!important;  
  background-color: transparent!important;
  font-size: 20px;
}
.navbar-brand:hover {
  color: rgb(205, 103, 253)!important; 
}
.nav-link {
  color: rgb(205, 103, 253)!important; 
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(255, 69, 45)!important;  
}

/* Hover Aktive-Farbe */
.navbar-nav button:hover,
.navbar-nav button:active,
.navbar-nav button:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: rgb(255, 69, 45)!important;
  cursor: pointer;
}

.dropdown-item {
  color: rgb(189, 22, 147)!important;
  text-align: center;
}

.dropdown-menu {
  background: rgb(53, 53, 53)!important;
  text-align: center;
  height: 165px;
}

/* ***************** */
     /* WEBSITE */
/* ***************** */

/*Animations Länge*/
.animate__animated.animate__zoomInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__zoomInRight {
  --animate-duration: 2s;
}

/* Hover */
.hover1:hover,
.hover2:hover,
.hover3:hover,
.hover3:hover,
.hover4:hover,
.hover5:hover,
.hover6:hover,
.hover7:hover,
.hover8:hover,
.hover9:hover,
.hover10:hover,
.hover11:hover
{
  text-shadow: 0 0 10px rgb(244, 244, 244);     /* Link Hover */
}
.card-body {
  color: rgb(110, 236, 26)!important;
}
.card-body-2 {
  color: rgb(226, 103, 21)!important;
}
.card-body-3 {
  color: rgb(30, 220, 163)!important;
}
.card-body-4 {
  color: rgb(248, 66, 66)!important;
}
.card-body-5 {
  color: rgb(42, 193, 235)!important;
}
.card-body-6 {
  color: rgb(216, 14, 155)!important;
}
.card-body-7 {
  color: rgb(244, 244, 244)!important;
}
.card-body-8 {
  color: rgb(202, 10, 10)!important;
}
.card-body-9 {
  color: rgb(200, 106, 234)!important;
}
.card-body-10 {
  color: rgb(229, 154, 34)!important;
}
.card-body-11 {
  color: rgb(255, 255, 0)!important;
}

/* Body */

.header-websites {
  padding-top: 0;
  padding-bottom: 50px;     
}

.headline-websites {
  font-size: 35px!important;
  text-align: center;
  color: rgb(255, 111, 27);     /* Websites */
  padding: 6px;
  margin-top: 100px!important;
  padding-top: 40px;        /* Abstand oben */
}

.headline-websites-2 {
  font-size: 20px;
  text-align: center;
  color: rgb(244, 244, 244);      /* Intrastingasfuck */
  padding: 0px;
}

.link-websites {
  text-align: center;     /* Links */
  padding: 80px;
  padding-bottom: 160px!important;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

/* ********************** */
      /* Footer */
/* ********************** */

.footer {
  font-size: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
}

.text-light:hover {
  color: rgb(223, 28, 174)!important;
}

footer a {
  text-decoration: none;
}

footer a > span {
  font-size: 1.0rem;
}