
/* OldWebsite */

/* **************************** */
    /* Allgemeines Styling */
/* **************************** */

* {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Helvetica, Arial, Droid-sans, sans-serif;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

body {
  background: rgb(33, 45, 63) url('../images/home.gif') no-repeat
  top center fixed;
  background-size: cover;
  text-align: center;
}

/*Animations Länge*/
.animate__animated.animate__zoomInLeft {
  --animate-duration: 3s;
}

.animate__animated.animate__zoomInRight {
  --animate-duration: 2s;
}

/*Standart-Styling für den Wrapper und den Body auf großen Geräten
@media screen and (min-width: 1024px) {
  body {
      background-image: rgb(24, 119, 122) url('../images/home.gif');
  }
}*/

/* *************************** */
    /* Navigations Leiste */
/* *************************** */

.navbar-brand {
  color: rgb(223, 145, 28)!important;
  background-color: transparent!important;
  font-size: 20px;
}
.navbar-brand:hover {
  color: rgb(223, 28, 174)!important; 
}
.nav-link {
  color: rgb(223, 28, 174)!important;
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(223, 145, 28)!important; 
}

/* Hover Aktive-Farbe */
.navbar-nav button:hover,
.navbar-nav button:active,
.navbar-nav button:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: rgb(223, 145, 28)!important; 
  cursor: pointer;
}

.dropdown-item {
  color: rgb(189, 22, 147)!important;
  text-align: center;
}

.dropdown-menu {
  background: rgb(53, 53, 53)!important;
  text-align: center;
  height: 165px;
}

/* ***************** */
  /* Inhaltsbereich */
/* ***************** */

/* hover */

.hover1:hover,
.hover2:hover,
.hover3:hover,
.hover3:hover,
.hover4:hover,
.hover5:hover,
.hover6:hover,
.hover7:hover,
.hover8:hover,
.hover9:hover,
.hover10:hover,
.hover11:hover
{
  text-shadow: 0 0 10px rgb(240, 235, 235);
}

.text-light:hover {
  color: rgb(223, 28, 174)!important;
}

/* body */

.header {
  padding: 0;
}

.headline {
  font-size: 100%;
  justify-content: center;
  text-align: center;
  color: #e09927;
  padding: 20px;
  margin-top: 35px;
}

.headline2 {
  font-size: 40px; 
  text-align: center;
  color: #f76809;
  padding: 20px;
}

.headline3 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 0px;
}

.link {
  text-align: center;
  padding: 80px; 
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

.thumb {
  font-size: 100%;          
  text-align: center;
  color: #949594;
  padding: 0px;
}

/* ********************** */
      /* Footer */
/* ********************** */

.footer {
  font-size: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
}

footer a {
  text-decoration: none;
}

footer a > span {
  font-size: 1.0rem;
}